{% extends 'base.html' %}
{% block title %}Eventos{% endblock %}

{% block content %}
<h2 class="mb-4">Eventos</h2>

<div class="row g-3">
    {% for evento in eventos %}
    <div class="col-md-4">
        <div class="card p-3 h-100 text-white">
            <h5>{{ evento.titulo }}</h5>
            <p><strong>Data:</strong> {{ evento.data|date:"d/m/Y" }}</p>
            <p>Descrição:</p>
            <p>{{ evento.descricao }}</p>
        </div>
    </div>
    {% empty %}
    <p>Não há eventos cadastrados.</p>
    {% endfor %}
</div>
{% endblock %}
